<div class="welcome">
<p>Hi <strong><%= @person.name %></strong> ,please check our video</p>
<video id="sourcevid" autoplay="true">
     <source src="http://www.craftymind.com/factory/html5video/BigBuckBunny_640x360.mp4" type="video/mp4" />
</video>
</div>
  
