// Place all the styles related to the person controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http

.form{
	margin:40px auto;
	border:2px solid lightskyblue;
	background-color: whitesmoke;
	padding:10px;
	width:70%;
}
.prompt{
	display:inline-block;
	float:right;
	margin:30px;
}
