<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Demo</title>
=======
  <title>Blog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
>>>>>>> aef38b28c5d386259bf136ac8949c995672668d1
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

=======
<nav class="navbar navbar-dark bg-inverse">
 <p class="h4 text-white" > Rails CRUD Demo</p>
</nav>
>>>>>>> aef38b28c5d386259bf136ac8949c995672668d1
<%= yield %>

</body>
</html>
